body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#h1-title {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

#form-pokedex {
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: white;
    padding: 30px 30px;
    border-radius: 8px;    
    height: auto;
    width: auto;
    box-shadow: white 0px 0px 10px;
}

#nome-pokemon {
    border-radius: 8px;
    height: 40px;
    width: 300px;
    font-size: 16px;
    cursor: pointer;
}

#btn-pokemon {
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 10px;
    background-color: white;
}

#btn-pokemon:hover {
    background-color: red;
    color: white;
    transition: all 0.5s ease;
}

#form-resposta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    gap: 10px;
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    width: 480px;
    box-shadow: white 0px 0px 10px;
}

#id-resposta {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 10px;
    border: 1px solid red;
    border-radius: 8px;
    margin: 0;
}

#nome-resposta {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px 10px;
    border: 1px solid red;
    border-radius: 8px;
    margin: 0;
}

#altura-resposta {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px 10px;
    border: 1px solid red;
    border-radius: 8px;
    margin: 0;
}

#peso-resposta {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px 10px;
    border: 1px solid red;
    border-radius: 8px;
    margin: 0;
}

#img-resposta {
    height: 200px;
    width: 200px;
    border: 1px solid red;
    border-radius: 8px;
    margin-top: 20px;
}

