@mixin transition($property, $duration) {
    transition: $property $duration ease-in-out;
}
  
@mixin responsive-text($min-size, $max-size) {
    font-size: $min-size;

    @media (min-width: 768px) {
        font-size: $max-size;
    }
}

.button {
    background-color: var(--primary-color);
    color: white;
    padding: var(--spacing-base);

    @include responsive-text(14px, 18px); /* aplica o mixin de responsividade */

    &:hover {
        background-color: var(--secondary-color);
        @include transition(all, 0.5s) /* aplica o mixin de transição */
    }
}

