*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}

.item-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.item {
    padding: 10px 10px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 8px;
}

.item:hover {
    background-color: blue;
    transition: all 0.3s ease-in-out;
}
