@use "sass:color";
$cor-primaria: red;

@mixin css_titulo() {

}

@mixin centralizar() {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    @include centralizar();
}

#titulo {
    
}
