@use "sass:color";
$cor-primaria: #3498db;
$cor-secundaria: #943333;
$cor-paragrafo: rgb(214, 16, 16);
$tamanho-fonte: 40px;
$familia-fonte: Arial, Helvetica, sans-serif;
$gap: 10px;
$pixels: 8px;

@mixin borda-redonda($pixels) {
    border-radius: $pixels;
}

@mixin centralizando-div() {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    @include borda-redonda($pixels);
}

.centro {
    @include centralizando-div;
}

.p-centro {
    color: $cor-paragrafo;
    font-size: $tamanho-fonte;
}

.menu {
    background-color: $cor-primaria;
    @include borda-redonda($pixels);
    margin-bottom: 10px;
}

.lista-item {
    display: flex;
    flex-direction: row;
    font-family: $familia-fonte;
    font-size: $tamanho-fonte;
    gap: $gap;
    list-style: none;
}

.item {
    cursor: pointer;
    color: $cor-secundaria;
    &:hover {
        color: color.adjust($cor-secundaria, $lightness: 20%); // aumenta a luminosidade da cor em 10%
    }
}
